$white: #f2f2f2;
$black:#000;
$background: #EBF1F4;
$primary: #24527a;
$primaryDark: #194355;
$primaryLight: #D2DCE4;
$secondary: #7A2452;
$secondaryDark: #55193A;
$tertiary: #7a6f24;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;